<html ng-app='routerApp'>
<head>
    <title></title>
</head>
<body>
<h1> <center>Passenger History</center></h1>
    <table>
    <tr>
        <td>RideId</td>
        <td>DriverName</td>
        <td>Pickup</td>
        <td>StartedAt</td>
        <td>DropOff</td>
        <td>EndedAt</td>
        <td>Cost</td>
        <td>CarType</td>
        <td>CardNumber</td>
     </tr>
<tr ng-repeat="ride in data">
        <td>{{rideid}}</td>
        <td>{{username}}</td>
        <td>{{pickuplocation}}</td>
        <td>{{starttime}}</td>
        <td>{{dropofflocation}}</td>
        <td>{{endtime}}</td>
        <td>{{cost}}</td>
        <td>{{cartype}}</td>
        <td>{{cardnumber}}</td>
<tr ng-repeat="ride in data">
        <td>RideId:{{ride.rideid}}</td>
        <td>DriverName:{{ride.username}}</td>
        <td>Pickup:{{ride.pickuplocation}}</td>
        <td>StartedAt:{{ride.starttime}}</td>
        <td>DropOff:{{ride.dropofflocation}}</td>
        <td>EndedAt:{{ride.endtime}}</td>
        <td>Cost:{{ride.cost}}</td>
        <td>CarType:{{ride.cartype}}</td>
        <td>CardNumber:{{ride.cardnumber}}</td>
</tr>
</table>
    
    <form>
			<h3></h3>
					
			  <button type="submit" class="btn btn-default" ng-click = "GoBack()">Go Back</button>
			</form>
</body>
</html>