<html ng-app="routerApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
	<div class = "row">
		<div class = "col-md-4"></div>
		<div class = "col-md-4">
			<button type="button" class="btn btn-default" ng-click="requests()">Pending Requests</button>
			<button type="button" class="btn btn-default" ng-click="promos()">Promo Codes</button>
			<button type="button" class="btn btn-default" ng-click="bonus()">Bonus</button>
		</div>
	</div>
</div>
</body>
</html>