<html ng-app="routerApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
	<div class = "row">
		<div class = "col-md-4"></div>
		<div class = "col-md-4">
			<input type="string" class="form-control"  placeholder="bonuscode" ng-model="bonuscode">
			<input type="string" class="form-control"  placeholder="amount" ng-model="amount">
    		<button type="button" class="btn btn-default" ng-click = "createBonus()">Create Bonus Code</label>
		</div>
		
	</div>
	<div class ="container" ng-init = "loadDrivers()">
		<div class = "row" ng-init = "getBonuses()">
			<div class = "col-md-8">
				<div ng-repeat = "item in data">
					{{item.username}}
					{{item.email}}
					{{item.driverClass}}
					<input type="checkbox" ng-checked="item.isRowSelected" ng-click="toggleSelection(item)" />
				</div>
			</div>
			<div class = "col-md-4" >
				<label>Select BonusCode</label>
				<select ng-model="bcode" ng-options="b for b in bonus">
</select>
			</div>
		</div>
		<button type="button" class="btn btn-default" ng-click="isAnythingSelected()">Assign Codes</button>
	</div>
</div>
</body>
</html>